@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1 class="display-4">Job Bank</h1>
    <p class="lead">Job Bank site - designed by Bruno Vidal</p>
    <hr class="my-4">
</div>


